<!DOCTYPE html>
<html ng-app="EMS">
<head>
    <!--
      Customize this policy to fit your own app's needs. For more guidance, see:
          https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
      Some notes:
          * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
          * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
          * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
              * Enable inline JS: add 'unsafe-inline' to default-src
      -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>麥當勞報報優惠券</title>
    <link rel="stylesheet" href="./lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./lib/font-awesome-4.7.0/css/font-awesome-animation.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="lib/framework7/js/framework7.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.5/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment-with-locales.min.js"></script>
    <script src="./lib/moment-timezone-with-data.min.js"></script>
</head>

<body class="theme-red">
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
  
    <!-- Views -->
    <div class="views">
        <div class="view view-main">
            <div class="pages">
                <div data-page="index" class="page">
                  <div class="navbar">
                    <div class="navbar-inner sliding">
                      <div class="left">
                        <a class="link back">
                          <i class="icon icon-back"></i>
                          <span class="ios-only"></span>
                        </a>
                      </div>
                      <div class="title">{{title}}</div>
                      <div class="right">
                        <a href="#" class="link smart-select active" data-page-title="顯示設定" data-back-text="返回" data-back-on-select="true">
                            <select v-model="selection" multiple maxlength="4" v-if="coupons">
                                <optgroup label="低價購">
                                    <option v-for="s in coupons[0]" :value="s[0]">{{s[1]}}</option>
                                </optgroup>
                                <optgroup label="買一送一">
                                    <option v-for="s in coupons[1]" :value="s[0]">{{s[1]}}</option>
                                </optgroup>
                                <optgroup label="買A送B">
                                    <option v-for="s in coupons[2]" :value="s[0]">{{s[1]}}</option>
                                </optgroup>
                                <optgroup label="(過期) 低價購">
                                    <option v-for="s in expired[0]" :value="s[0]">{{s[1]}}</option>
                                </optgroup>
                                <optgroup label="(過期) 買一送一">
                                    <option v-for="s in expired[1]" :value="s[0]">{{s[1]}}</option>
                                </optgroup>
                                <optgroup label="(過期) 買A送B">
                                    <option v-for="s in expired[2]" :value="s[0]">{{s[1]}}</option>
                                </optgroup>
                            </select>
                            <h6>使用說明</h6>
                        </a>
                    </div>
                    </div>
                  </div>
                  <div class="toolbar tabbar-labels">
                      <div class="toolbar-inner" :style="'background-image:url(img/toolbar' + index + '.png); background-size: cover; background-position: center;'">
                        <a href="#tab1" class="tab-link active" style="width:33%"></a>
                        <a href="#tab2" class="tab-link" style="width:33%"></a>
                        <a href="#tab3" class="tab-link" style="width:33%"></a>
                      </div>
                  </div>
                  <div class="page-content" style="padding: 55px 0">
                      <div class="tabs-animated-wrap">
                        <div class="tabs">
                          <div id="tab1" class="page-content tab active">
                            <div class="card demo-card-header-pic" v-for="(item, index) in selection">
                              <a :href="'main.html?title=' + item + '&index=' + index">
                                <div class="card-header" :style="'background-image:url(https://drv.tw/~bluewhite0327@gmail.com/gd/www/Mc/img/' + item + '.jpg); padding:0'"></div>
                                <div class="card-content card-content-padding">
                                  期限：{{moment().add(Math.min(3 - index, 2), 'days').format('YYYY 年 M 月 D 日')}} 尚餘：
                                  {{used[index] == 0 ? moment(moment().add(Math.min(3 - index, 2), 'days').format('YYYY-MM-DD 23:59:59')).diff(moment(), 'day') : 0}} 天 
                                  {{used[index] == 0 ? moment(moment().add(1, 'days').format('YYYY-MM-DD')).diff(moment(), 'hour') + 1 : 0}} 小時
                                </div>
                                <div class="card-footer"><h2><img src="./img/icons-alarm.png" style="vertical-align: text-top; height: 24px" v-if="used[index] != 0 && !used[index].isBefore(now)" /> {{used[index] != 0 ? (used[index].isBefore(now) ? '已 兌 換' : moment(used[index].diff(now, 'second') * 1000).format('mm : ss')) : '兌 換 優 惠'}}<img :src="'https://drv.tw/~bluewhite0327@gmail.com/gd/www/Mc/img/' + item + '_.jpg'" style="height:0; width:0" /></h2></div>
                              </a>
                              <div style="position:absolute; background-color: rgba(255, 255, 255, 0.5); left:0; right:0; top:0; bottom:0;" v-if="used[index]"></div>
                            </div>
                          </div>
                          <div id="tab2" class="tab" style="background-image:url(./img/Tab2.png); background-size: cover; background-position: center;; padding:0"></div>
                          <div id="tab3" class="tab" style="background-image:url(./img/Tab3.png); background-size: cover; background-position: center;; padding:0"></div>       
                        </div>
                      </div> 
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="https://drv.tw/~bluewhite0327@gmail.com/gd/www/Mc/js/coupon.js"></script>
<script type="text/javascript" src="js/my-app.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</html>